<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- the targets to write to -->
  <targets>
	  <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
	   layout="${shortdate} ${date:format=HH\:mm\:ss.fff}: [${machinename}] [${level:upperCase=true}] [${logger}] ${message} ${exception:format=tostring}" >
		  <highlight-word condition="level == LogLevel.Debug" foregroundColor="Blue" text="[DEBUG]"/>
		  <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
		  <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
		  <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
		  <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
		  <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
	  </target>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" layout="${shortdate} ${date:format=HH\:mm\:ss.fff}: [${machinename}] [${level:upperCase=true}] [${logger}] ${message}${exception:format=ToString}" fileName="${basedir}/Logs/${shortdate}.log" />
    </target>
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

	<logger name="*" writeTo="colouredConsole" />
    <logger name="*" writeTo="file" />
    
  </rules>
</nlog>